/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Cursor */
.cursor{
    width: 24em;
    margin: 40px 0 0 0;
    border-right: 2px solid rgba(255,255,255,.75);
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  display: inline-block;
  overflow: hidden;
  top: 20vh;
  white-space: nowrap;
  border-right: 2px solid #64FFDA;
  animation: 
    typewriter 3s steps(30) 1s 1 normal both, 
    blinkingCursor 700ms steps(30) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor {
  from { border-right-color: #64FFDA; }
  to { border-right-color: transparent; }
}

/* Global */



@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");

$blue: #2962ff;





section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 2em;
	background: #212121;
	color: #fff;
	text-transform: uppercase;
	gap: 30px;
}

h1 {
	font-size: 2.5em;
	@media (max-width: 768px) {
		font-size: 1.3em;
	}
}

.text-shadow {
	color: transparent;
  font-family: arial;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px $blue;
	transition: all 10s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 0.5s ease-in-out infinite alternate;

	&:hover {
		color: #fff;
	}
}

.tags small {
	@media (max-width: 768px) {
		font-size: 0.5em;
	}
}

@keyframes flicker {
	0% {
		opacity: 0.6;
		text-shadow: 2px 2px 10px $blue;
	}

  60% {
		opacity: 1;
		text-shadow: 2px 2px 20px $blue;
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px red;
	}
}
